.c {
    text-align: center;
}

.list {
    justify-content: center;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    position: relative;
}

.listitem {
    display: inline-flex;
    margin: .1vw;
    justify-content: center;
}
