.c {
    text-align: center;
}

.list {
    justify-content: center;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    position: relative;
}

.listitem {
    display: inline-flex;
    margin: .1vw;
    justify-content: center;
}

table {
    margin: 0 auto;
    border: 1px solid black;
}

th {
  padding: 15px;
  text-align: left;
}

td {
  padding: 15px;
  text-align: left;
}

